nav {
	width: 100%;
	background-color: red;
}

nav ul {
	margin: 0; 
	padding: 0;
}

nav li {
	list-style: none;
}

.desktop-nav {
	display: none;
}

.mobile-nav {
	height: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mobile-nav ul {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.mobile-nav li {
	text-align: center;
}

@media all and (min-width: 480px) {
	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		height: 150px;
		width: 80%;
		margin: auto;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.desktop-nav ul {
		display: grid;
		grid-template-columns: 5fr 100px 100px;
	}

	.desktop-nav li:not(:first-child) {
		text-align: right;
	}
}
@media all and (min-width: 736px) {}
@media all and (min-width: 980px) {}
@media all and (min-width: 1280px) {}
@media all and (min-width: 1690px) {}

/*
Difference between mobile and desktop
- Position of Nav buttons and logo
- Buttons turn into icons in mobile
- In mobile, grids are spaced equally
- In desktop, cell of logo grows
*/