Django==2.2.3
psycopg2-binary==2.7.5
pytz==2018.4
djangorestframework==3.9.4
django-rest-swagger==2.1.2
PyYAML===5.1.1
djangorestframework-jwt-custom-user==1.11.1
six==1.11.0
cloudinary==1.12.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-oauthlib==0.2.0
google-auth-httplib2==0.0.3
oauth2client==4.1.2
google-cloud==0.34.0
whitenoise==3.2
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.6.0
python-decouple==3.1
Pillow==5.2.0
django-cloudinary-storage==0.2.3
django-cors-headers==2.4.0
django-rest-framework-social-oauth2==1.1.0
